<a href="https://colab.research.google.com/github/FataPutra/DataMining/blob/main/Klasifikasi_Decision_Tree_Iris_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [24]:
irisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [25]:
irisDataset.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,7.00,3.02,4.07,1.04,Iris-versicolor
1,2,6.04,3.02,4.05,1.05,Iris-versicolor
2,3,6.09,3.01,4.09,1.05,Iris-versicolor
3,4,5.05,2.03,4.00,1.03,Iris-versicolor
4,5,6.05,2.08,4.06,1.05,Iris-versicolor

In [26]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [ ]:
irisDataset.head()

In [27]:
irisDataset = irisDataset.drop(labels = "Id", axis =1)

In [ ]:
print(irisDataset)

In [30]:
irisDataset = irisDataset.to_numpy()

In [ ]:
print(irisDataset)

In [32]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]),
                              axis=0)

In [ ]:
print(dataTraining)

In [ ]:
len(dataTraining)

In [ ]:
print(dataTesting)
len(dataTesting)

In [ ]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

In [38]:
model = tree.DecisionTreeClassifier()

In [44]:
model = model.fit(inputTraining, labelTraining)

In [47]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi   : ", hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi   :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [48]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100 , "%")

Prediksi Benar :  20 data
Prediksi Salah :  0 data
Akurasi :  100.0 %